/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
    width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}

/* utility */

.d-none {
    display: none;
}

.bg-black {
    background-color: black;
}

.bg-gray {
    background-color: rgb(56, 56, 56);
}

.bg-darkblue {
    background-color: rgb(32, 32, 46);
}

.bg-cards {
    background-color: var(--bg_blue);
}

.lightblue {
    background-color: #B4D0E7;
}

nav.bg-blue {
    background-color: #0084FD;
}

.block {
    display: block;
}

.inblock {
    display: inline-block;
}

.inline {
    display: inline;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.col {
    width: 100%;
}

.col-2 {
    width: calc(2 * 100% / 12);
}

.col-3 {
    width: calc(3 * 100% / 12);
}

.col-4 {
    width: calc(4 * 100% / 12 );
}

.col-6 {
    width: calc(6 * 100% / 12);
}

.col-8 {
    width: calc(8 * 100% / 12);
}

.col-12 {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.container{
    margin: 0 auto;
    width: 100%;
}

.container-md{
    margin: 0 auto;
}

.margin-bottom100 {
    margin-bottom: 100px;
}


/* chat section aperta */

body {
    height: 100vh;
    width: 100vw;
} 

.bg-main , .main-section {
    width: 100%;
    height: 100%;
}

.chat-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.chat-section > div.container.column {
    height: 100%;
}

.chat-main {
    flex-grow: 1;
}

.chat-main .bg {
    background-color: #e3ded6;
    height: 100%;
    padding: 25px;
}

.chat-topbar {
    height: 50px;    
}

.message-green {
    background: #def8c0;
    padding: 15px;
    border-radius: 25px;
    align-self: end;
    max-width: 250px;
    margin-bottom: 15px;
}

.message-white {
    background: white;
    padding: 15px;
    border-radius: 25px;
    align-self: start;
    max-width: 280px;
    margin-bottom: 15px;
}


.chat-type-input {
    width: 100%;
    height: 50px;
    align-self: flex-end;
}

.chat-type-input .bg {
    background-color: #EAEAEA;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.chat-type-input .row {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.chat-type-input input {
    height: 40px;
    width: 100%;
    border-radius: 3px;
}

/* media query */

@media screen and (min-width: 576px) {



}

@media screen and (min-width: 992px) {

    .bg-main {
        background-color: #dbdbd4;
        position: relative;
        z-index: -2;
    }

    .chat-section {
        max-width: 1200px;
        margin: 0 auto;
        padding: 50px 0;
    }

    .green-strip {
        background-color: #4d9288;
        height: 200px;
        width: 100vw;
        position: absolute;
        z-index: -1;
    }

    .sidebar {
        display: flex;
        width: 200px;
        height: 100%;
        background-color: #FFFFFF;
    }

}

/* DEBUG */

.debug .chat-topbar {
    background-color: #EAEAEA;
    width: 100%;
}