/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}

/* utility */

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.bg-black {
    background-color: black;
}

.bg-gray {
    background-color: rgb(56, 56, 56);
}

.bg-darkblue {
    background-color: rgb(32, 32, 46);
}

.bg-cards {
    background-color: var(--bg_blue);
}

.lightblue {
    background-color: #B4D0E7;
}

nav.bg-blue {
    background-color: #0084FD;
}

.block {
    display: block;
}

.inblock {
    display: inline-block;
}

.inline {
    display: inline;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.col {
    width: 100%;
}

.col-2 {
    width: calc(2 * 100% / 12);
}

.col-3 {
    width: calc(3 * 100% / 12);
}

.col-4 {
    width: calc(4 * 100% / 12 );
}

.col-6 {
    width: calc(6 * 100% / 12);
}

.col-8 {
    width: calc(8 * 100% / 12);
}

.col-12 {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.container{
    margin: 0 auto;
    width: 100%;
}

.container-md{
    margin: 0 auto;
}

.margin-bottom100 {
    margin-bottom: 100px;
}


/* app */

.bg-main {
    background: rgb(77,147,137);
    background: linear-gradient(180deg, rgba(77,147,137,1) 15%, rgba(217,219,216,1) 15%); 
    height: 100vh;
    width: 100vw;
}

.main-section {
    background-color: pink;
    width: 100%;
}

.chat-section {
    background-color: blueviolet;
    width: 100%;
}

.main-section,
.chat-section {
    height: 100%;
}


/* media query */

@media screen and (min-width: 576px) {

    .sidebar {
        display: flex;
        width: 10%;
        height: 100%;
        background-color: white;
    }

    .chat-section {
        width: 90%;
    }


    /* sidebar */

    .sidebar-user-profile .bg.row {
        padding: 10px 16px;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar .sidebar-user-profile .bg {
        background-color: #eaeaea;
    }

    
    .avatar {
        flex-shrink: 0;
        flex-grow: 0;
        height: 40px;
        aspect-ratio: 1;
        border-radius: 25px;
    }

}

@media screen and (min-width: 992px) {

    .bg-main {
        padding: 36px 0;
    }

    .main-section {
        max-width: 80%;
        margin: 0 auto;
    }

    .sidebar {
        display: flex;
        width: 25%;
        height: 100%;
        background-color: white;
    }

    .chat-section {
        width: 75%;
        height: 100%;
        background-color: blueviolet;
    }

    /* sidebar */

    .sidebar {
        background-color: #fafafa;
    }

    .sidebar-user-profile div.d-none {
        gap: 7px;
        color: #b1b1b1;
    }
    

    /* attiva notifiche */

    .attiva-notifiche{
        padding: 16px;
        align-items: center;
        background-color: #a6d7f9;
    }

    .attiva-notifiche .bg.row {
        flex-wrap: nowrap;
        align-items: center;
    }
 
    
    .attiva-notifiche span {
        font-size: 12px;
    }

    .attiva-notifiche span:nth-child(2){
        font-size: 10px;
        color: rgb(114, 113, 113);
    }

    .fa-bell-slash {
        color: #a6d7f9;
        background-color: white;
        border-radius: 25px;
        aspect-ratio: 1;
        padding: 7px;
        margin-right: 10px;
    }
    

    /* sidebar search */

    .search-contacts {
        display: flex;
    }

    .search-contacts {
        display: block;
    }

    .search-contacts .bg {
        position: relative;
    }

    .search-contacts input {
        width: 100%;
        height: 32px;
        background-color: white;
        border-top: 1px solid #d6d6d6;
        border-bottom: 1px solid #d6d6d6;
        outline: none;
        padding-left: 50px;
        padding-right: 10px;
    }

    .fa-magnifying-glass {
        position: absolute;
        top: 50%;
        left: 20px;
        color: #b1b1b1;
        transform: translateY(-50%);
        pointer-events: none;
        font-size: 16px;
    }

    /* chat preview */

    .chat-preview {
        flex-grow: 1;
    }

    .contact {
        padding: 10px;
    }    

    .contact-name {
        font-size: 14px;
    }

    .chat-preview {
        font-size: 10px;
    }
a
    .contact:last-child {
        font-size: 14px;
    }

    .contact.row {
        align-items: center;
        justify-content: space-between;
    }

    .contact.row>div.row {
        align-items: center;
        gap: 10px;
    }

    .contact:not(:last-child) {
        border-bottom: 1px solid rgba(161, 161, 161, 0.432);
    }

    /* display none --> display */

    .attiva-notifiche {
        display: flex;
    }

    .sidebar-user-profile div.d-none {
        display: flex;
    }

    .chat-preview {
        display: flex;
        flex-direction: row;
    }

}

/* DEBUG */

